* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 633px;
    width: 80vw;
    padding: 3px;
    margin: 3px;
    border: 2px solid black;
}

.box1 {
    background-color: aqua;
    /* position: relative;
    z-index: 1; */

    /* position: absolute;
    top: 0px; */

    position: sticky;
    top: 0px;
}

.box2 {
    background-color: yellow;
    /* position: relative;
    top: -40px;
    left: 114px;
    z-index: 2; */
}

.box3 {
    background-color: greenyellow;
}

.box4 {
    background-color: gray;
    /* position: fixed;
    bottom: 0px;
    right: 0px; */
}

.parent {
    height: 688px;
    padding: 43px;
    margin: 34px;
    border: 3px solid purple;
    /* position: absolute; */
    /* Exception : transform, filter, or perspective properties can also make an element appear as positioned */
}