nav ul li{
    /* list-style: devanagari; */
    /* list-style-type: "!"; */
    background-color: yellow;
    list-style-position: inside;
    border: 2px solid black;
    /* list-style-image: url(); */

    list-style: none;
    padding: 23px;
}

nav ul{
    display: flex;

}