*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 160px;
    padding-right: 160px;
}

.navbar{
    /* background-color: azure; */
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 50px;
    width: 170px;
}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

li{
    
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.box{
    margin:5px;
    background-color: blue;
    height: 30px;
    width: 30px;
}