@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.logo img{
    width: 110px;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 30px;
}

.library{
    min-height: 79vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}
.footer a{
    color: grey;
    text-decoration: none;
}

.header{
    height: 75px;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.header > *{
    padding: 20px ;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}


.spotifyPlaylist{
    padding: 16px;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1fdf64;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    /* align-items: center; */
    position: absolute;
    top: 200px;
    right: 17px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.card:hover{
    cursor: pointer;
}

.card:hover .play{
    opacity: 1;
    top: 152px;
    cursor: pointer;
}

.buttons > *{
    margin:0 14px;
}
.signupbtn{
    font-weight: bold;
    background-color: rgb(34, 34, 34);
    color: rgb(203, 196, 196);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 1.01rem;
    color: white;
    font-size: 17px;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    width: 79px;
    border: none;
    outline: none;
}
.loginbtn:hover{
    /* padding: 10px 14px; */
    font-size: 17px;
    font-weight: bold;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.songbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.songbuttons img{
    cursor: pointer;
}

.songlist{
    display: flex;
    flex-wrap: wrap;
    max-height: 55vh;
    overflow-y: scroll;
    margin-bottom: 44px;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
    cursor: pointer;
    padding: 13px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 12px 0;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 65px;
    padding: 12px;
}
.songlist .info{
    font-size: 13px;
}

.playbar{
    position: fixed;
    bottom: 20px;
    background-color: #dad5d5;
    width:70vw;
    height: 63px;
    padding: 12px;
    border-radius: 10px;
    filter: invert(1);
}

.seekbar{
    height: 4px;
    width: 68vw;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 2px;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 13px;
    position: relative;
    bottom: 8px;
    left: 0px;
    transition: left 0.5s;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.songinfo, .songtime{
    color: black;
    padding: 0 12px;
}

@media (max-width:1400px){
    .left{
        /* background-color: red; */
        position: absolute;
        left: -100%;
        transition: all 0.3s;
        z-index: 1;
        width: 233px;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 94vw;
    }
}