<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <div class="container">
        <button class="btn">Generate Now</button>

    </div>

    <script>
        document.querySelector(".btn").addEventListener("click", async()=>{
            // console.log('yes');

            let a = await fetch("/generate")
            // let r = await a.json()
            // console.log(r);
        })
    </script>
</body>
</html>